* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
h1 {
  font-size: 50px;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
}

.nav-first {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.nav-first p {
  margin: 2px 2px;
  padding: 2px 2px;
}
.nav-second {
  width: fit-content;
  margin: 2px 2px;
  padding: 2px 2px;
  display: flex;
  justify-content: center;
}
.container-time {
  margin: auto;
  padding: 1rem 5%;
  max-height: 100vw;
  color: #000;
}
.date {
  text-align: end;
}
.container {
  margin: auto;
  padding: 0 5%;
  max-height: 100vw;
  color: #000;
}
.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2rem;
  max-width: 800px;
}

#book-addition {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  border: 2px solid black;
}

#book-addition div {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
}

#book-addition div:nth-of-type(odd) {
  background-color: antiquewhite;
}

#book-addition div:nth-of-type(even) {
  background-color: beige;
}

#book-addition div p {
  display: inline;
  justify-content: space-around;
  width: 100%;
}
#book-addition div button {
  float: right;
}

button {
  width: fit-content;
  border: 1px solid gray;
  padding: 3px;
  background-color: aliceblue;
}

button:hover {
  border: 1px solid #000;
  background-color: rgba(255, 235, 205, 0.705);
  color: #000;
}

.add-books {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#form {
  width: 40%;
  display: block;
  margin: auto;
  position: relative;
}

#form h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#form #title {
  width: 80%;
  display: block;
  padding: 10px;
  font-size: 1rem;
  margin: auto;
  border: 2px solid #000;
}

#form #author {
  width: 80%;
  display: block;
  border: 2px solid #000;
  padding: 10px;
  font-size: 1rem;
  margin: auto;
}

#form-btn {
  width: 15%;
  display: block;
  margin: auto;
}
.contact {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-text {
  text-align: center;
  width: 80%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: #000 2px solid;
  color: #000;
  margin-top: 10rem;
}
